# Configuration du serveur
PORT=5000
NODE_ENV=development

# Configuration de la base de données MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=nutrilib
DB_PORT=3306

# Sécurité Token (à remplacer par une chaîne aléatoire sécurisée)
JWT_SECRET=votre_cle_secrete_jwt_tres_longue_et_securisee
JWT_EXPIRES_IN=7d

# Identifiants de l'API FatSecret (Platform API)
# Obtenez vos clés sur : https://platform.fatsecret.com
FATSECRET_CLIENT_ID=votre_fatsecret_client_id
FATSECRET_CLIENT_SECRET=votre_fatsecret_client_secret
